

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "stinger-variable", sans-serif;
}

:root {
    --background-dark-purple: #45227A;
    --second-background: #7952B3;
    --primair-color-l-blue: #BEFBFF;
    --secundair-color-l-purple: #F6EFFF;
    --teriary-color-yellow: #F6FFBE;
}

body {
    background-color: var(--background-dark-purple);
    font-variation-settings: "wdth" 115, "wght" 400;
}

h2{
    font-variation-settings: "wdth" 110, "wght" 600;
    font-size: clamp(3.5rem, 15vw, 8rem);
    text-align: center;
}

p, a{
    font-variation-settings: "wdth" 115, "wght" 400;
    font-size: 1.5rem;
    line-height: 2rem;
}

.title-uppercase{
    text-transform: uppercase;
    font-variation-settings: "wdth" 100, "wght" 700;
    font-size: 1.5rem
}

/* BUTTON  */

.primary-button{
    background-color: var(--teriary-color-yellow);
    color: var(--background-dark-purple);
    border: solid 2px var(--teriary-color-yellow);
    border-radius: 10px;
    padding: 1.3rem 2rem 1rem 2rem;
    font-size: 1.2rem;
    text-transform: uppercase;
    transition: ease-out 0.3s;
}

.primary-button:hover{
    background-color: transparent;
    color: var(--teriary-color-yellow);
    border: solid 2px var(--teriary-color-yellow);
    transition: ease-in 0.3s;
    cursor: pointer;
    border-radius: 50px;
}

.primary-button:focus{
    background-color: transparent;
    color: var(--primair-color-l-blue);
    border: solid 2px var(--primair-color-l-blue);
    outline: var(--primair-color-l-blue);
    text-decoration: underline; 
}

/* FONTS  */

.regular-weight{
    font-variation-settings: "wdth" 115, "wght" 400;
}
    
.bold-weight{
    font-variation-settings: "wdth" 100, "wght" 700;
}


/* HOVER UNDERLINE  */

  .hover-underline-animation {
    display: inline-block;
    position: relative;
    color: var(--teriary-color-yellow)
  }

  .hover-underline-animation::after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 10px;
    bottom: 1rem;
    left: 0;
    border-radius: 25px;
    background-color: var(--teriary-color-yellow);
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
  }

  .hover-underline-animation:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
  }

  /* MEDIAQUERY */

  /* Media query voor groot tablet */
    @media screen and (max-width: 80rem) {
        
        p, a{
            font-size: 1.4rem;
            line-height: 1.9rem;
        }
        
        .title-uppercase{
            font-size: 1.4rem;
            line-height: 1.9rem;
        }
    }
  
  /* Media query voor tablet */
  @media screen and (max-width: 60rem) {
        
        p, a{
            font-size: 1.2rem;
            line-height: 1.7rem;
        }
        
        .title-uppercase{
            font-size: 1.3rem;
            line-height: 1.8rem;
        }

        .primary-button{
            font-size: 1rem;
        }
    }

  /* Media query voor tablet */
  @media screen and (max-width: 40rem) {
        
        p, a{
            font-size: 1.1rem;
            line-height: 1.6rem;
        }
        
        .title-uppercase{
            font-size: 1.2rem;
            line-height: 1.7rem;
        }
    }

  /* Media query voor tablet */
  @media screen and (max-width: 30rem) {
        
        p, a{
            font-size: 1.1rem;
            line-height: 1.6rem;
        }
        
        .title-uppercase{
            font-size: 1.2rem;
            line-height: 1.7rem;
        }
    }